:root{
  --main-color: #223A5E;
  --dark-color: #001434;
  --light-color: #4f648b;
  --font-color: white;
  --warning-color: #b30000;
}

body {
  background-color: var(--main-color);
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  color: var(--font-color);
}


button{
  width: 4.5rem;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  color: var(--font-color);
  font-size: 0.7rem;
  text-align: center;
  border: 1px solid var(--light-color);
  border-radius: 0.2rem;
  background-color: var(--dark-color);
  opacity: 0.7;
  transition: all 0.2s;
}

button:hover{
  text-shadow: 0 0 0.1rem white;
  transition: all 0.2s;
}

button:active{
  opacity: 0.5;
  transition: all 0.2s;
}

.event-main{
  padding: 50px;
}

.event-header-outline{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--main-color);
  z-index: 2;
}

.event-header{
  margin-top: 2%;
  margin-bottom: 1%;
}

.event-header-title{
  margin-bottom: 3%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.2rem var(--dark-color);
}

.event-header-control{
  margin: 1.2rem 0.4rem 0 0.4rem;
}


.event-header-control label{
  padding: 0.3rem 0.4rem 0.3rem 0;
  font-size: 0.7rem
}

.event-header-control select{
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  border-color: var(--light-color);
  color: var(--font-color);
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--dark-color);
  opacity: 0.7;
}

.header-body-divider{
  border-top: 1px solid var(--light-color);
}

.event-body{
  margin-top: 2%;
  margin-bottom: 2%;
}

.event-body-item{
  margin-top:1rem;
  margin-bottom: 1rem;
  padding: 0.5% 2% 0.5% 2%;
  background-color: var(--light-color);
  border: solid 0.05rem var(--dark-color);
  border-radius: 0.3rem;
}

.event-body-item:hover{
  box-shadow: 0.1rem 0.1rem 0.2rem var(--dark-color);
}

.event-body-item label{
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.event-body-item input[type=checkbox] + label{
}

.event-body-item input[type=checkbox]:checked + label{
  color: gray;
}

.event-item-priority{
  margin: 0;
  padding-right: 1.2rem;
  font-size: 2rem;
  font-style: italic;
  opacity: 0.7;
}

.event-item-control{
  margin: 0;
  padding-left: 1.2rem;
  padding-left: 0.5rem;
  border-left: 2px solid var(--dark-color);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.eventBodySelected{
  background-color: var(--dark-color);
  box-shadow: 0.1rem 0.1rem 0.2rem var(--dark-color);
}

.control-bar{
  position: absolute;
  right: 30px;
  bottom: 30px;

}

.event-form-outline{
  margin: 0;
  padding: 0;
  z-index: 20;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--dark-color);
  opacity: 0.8;
}

.event-form-outline .row{
  margin: 0;
  padding: 0;
}

.event-form-body{
  margin-top: 15%;
  padding: 0;
  border: 2px solid var(--light-color);
  border-radius: 5px;
  box-shadow: 0.1rem 0.1rem 0.2rem var(--dark-color);
  background-color: white;
}

.event-form-close{
  padding: 2px 15px 2px 15px;
  float: right;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 3px;
  background-color: var(--light-color);
  cursor: pointer;
  transition: all 0.2s;
}

.event-form-close:hover{
  text-shadow: 0 0 0.1rem white;
  transition: all 0.2s;
}

.event-form{
  padding: 10% 20% 10% 20%;
}

.event-form div:last-child{
  margin-top: 10%;
}

.event-form label{
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.event-form textarea{
  width: 100%;
  color: black;
  font-size: 0.8rem;
  resize: none;
}

.event-form select{
  width: 100%;
  color: black;
  font-size: 0.8rem;
}

.valid-warning{
  color: var(--warning-color);
  font-size: 0.6rem;
}
